.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 48rem;
  margin: 8rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link {
  text-decoration: none;
  color: #535a5a;
}
.link:hover {
  color: #0b0d0d;
}
