.search {
  justify-self: center;
  border: none;
  padding: 0.9rem 1.3rem;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  width: 35rem;
  transition: all 0.3s;
  color: inherit;
  background-color: #e6f8f8;
}

.search::placeholder {
  color: #566060;
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
